<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shevart.androidtransitions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scene.SceneTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scene.samples.searchbar.SearchBarSceneSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scene.samples.bylayoutid.ContentByLayoutIdSceneSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scene.samples.enterexitaction.EnterAndExitActionSceneSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.TransitionTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.TransitionsOverviewComplexLayoutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".transition.overview.base.ChangeBoundsOverviewActivity" />
        <activity android:name=".transition.overview.base.FadeOverviewActivity" />
        <activity android:name=".transition.overview.base.SlideOverviewActivity" />
        <activity android:name=".transition.overview.base.ExplodeOverviewActivity" />
        <activity android:name=".transition.overview.base.ChangeBoundsArcMotionOverviewActivity" />
        <activity android:name=".transition.overview.base.ChangeBoundsPatternMotionOverviewActivity" />
        <activity android:name=".transition.overview.base.ChangeTransformOverviewActivity" />
        <activity android:name=".transition.overview.base.ChangeImageTransformOverviewActivity" />
        <activity android:name=".transition.overview.base.ChangeScrollOverviewActivity" />
        <activity android:name=".transition.overview.base.AutoTransitionOverviewActivity" />
        <activity android:name=".transition.overview.base.ChangeClipBoundsActivity" />
        <activity android:name=".transitionmanager.begindelayedsample.BeginDelayedSampleActivity" />
        <activity android:name=".screenstransition.screencontents.fragments.FragmentsScreenContentTransitionActivity" />
        <activity android:name=".screenstransition.ScreenTransitionsTopicActivity"></activity>
    </application>

</manifest>