<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shevart.androidtransitions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scene.SceneTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scene.samples.searchbar.SearchBarSceneSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scene.samples.bylayoutid.ContentByLayoutIdSceneSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scene.samples.enterexitaction.EnterAndExitActionSceneSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.TransitionTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.TransitionsOverviewComplexLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.ChangeBoundsOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.FadeOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.SlideOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.ExplodeOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.ChangeBoundsArcMotionOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.ChangeBoundsPatternMotionOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.ChangeTransformOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.ChangeImageTransformOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.ChangeScrollOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.AutoTransitionOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transition.overview.base.ChangeClipBoundsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transitionmanager.begindelayedsample.BeginDelayedSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenstransition.screencontents.fragments.FragmentsScreenContentTransitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenstransition.ScreenTransitionsTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenstransition.screencontents.activity.bytheme.ContentTransitionByThemeScreenAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ContentTransitionAppTheme.AutoTransition" />
        <activity
            android:name=".screenstransition.screencontents.activity.bytheme.ContentTransitionByThemeScreenBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ContentTransitionAppTheme.AutoTransition" />
        <activity
            android:name=".screenstransition.screencontents.activity.programmatically.FirstContentProgrammaticallyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenstransition.screencontents.activity.programmatically.SecondContentProgrammaticallyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenstransition.sharedelements.fragments.FragmentsSharedElementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screenstransition.sharedelements.activity.SharedElementsAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SharedElementsThemeA" />
        <activity
            android:name=".screenstransition.sharedelements.activity.SharedElementsBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SharedElementsTheme" />
        <activity
            android:name=".specialcases.screentriangle.ScreenTriangleStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".specialcases.screentriangle.middlescreen.MiddleScreensHostActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".transition.overview.custom.ChangeIconImageTransitionActivity" />
        <activity android:name=".screenstransition.sharedelements.sharedelementscallback.FragmentsSharedElementsCallbackActivity"></activity>
    </application>

</manifest>